*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    color: #000000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.navBar {
    width: 20vw;
    height: 100vh;
}

.main {
    width: 80vw;
    height: 100vh;
}
